name: test

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*.*'
  pull_request:

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3.9.0
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'sbt'
      - name: Run tests
        run: sbt "; test"
